<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="PackageTest">
        <classes>
            <class name="Test.MainTest">
                <methods>
<!--                    <include name="testLogin"/>-->
<!--                    <include name="testBlogPage"/>-->
<!--                    <include name="testMarketplace"/>-->
<!--                    <include name="testSupport"/>-->
<!--                    <include name="testOurInitiatives"/>-->
<!--                    <include name="testSearchFunc"/>-->
<!--                    <include name="testAPIKey"/>-->
<!--                    <include name="checkSearchFunc"/>-->
                    <include name="checkTemperature"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>